<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs">
      <div class="contain">
        <div class="contain">
          <div class="item">
            <a href="/">
              <img class="item-img" src="<%= blog.image %>" alt="img" value=""
            /></a>
            <div class="item-container">
              <h3 class="item-title"><%= blog.title %></h3>
              <% if(user._id){ %>
              <div class="item-menu">
                <svg
                  class="item-menu-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-three-dots-vertical"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
                  />
                </svg>
                <span>Еще</span>
                <div class="dropdown">
                  <a href="/editBlog/<%= blog._id %>" class="dropdown-edit"
                    >Редактировать</a
                  >
                  <a
                    onclick="deleteBlogs('<%= blog._id %>' , '<%=blog.author._id %>' )"
                    class="dropdown-delete"
                  >
                    <button>Удалить</button></a
                  >
                </div>
              </div>
              <%}else{ %>
              <span></span>
              <% } %>
            </div>
            <p class="item-title-text"><%=blog.text %></p>
            <br />
            <%- include('./partials/icons.ejs') %> <% if(user._id){ %>
            <span></span>
            <% }else{ %>
            <br />
            <div class="page-link">
              <div class="link-container">
                <span class="page-link-content"
                  >Чтобы оставить комментарий
                  <a href="/link">зарегистрируйтесь</a> , или
                  <a href="/sign">войдите</a> в аккаунт.</span
                >
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>

      <div class="categories">
        <aside class="sidebr">
          <h2 class="sidebar-title">Категории</h2>
          <% categories.forEach(category =>{ %>
          <li><a href="<%= category.key %>"><%= category.name %></a></li>
          <%}) %>
        </aside>
      </div>
    </div>
    <%- include('partials/script.ejs') %>
  </body>
</html>
