<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/mainnav.ejs') %>
    <div class="blogs">
      <div class="contain">
        <%-include('./partials/mainsection.ejs') %> <%-
        include('./partials/item.ejs')%>
      </div>

      <div class="categories"><%- include('./partials/mainsidebar.ejs') %></div>
    </div>
  </body>
</html>
