<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs">
      <div class="contain"><%-include('./partials/useritem.ejs')%></div>

      <div class="categories">
        <aside class="sidebr">
          <h2 class="sidebar-title">Категории</h2>
          <% categories.forEach(category =>{ %>
          <li><a href="<%= category.key %>"><%= category.name %></a></li>
          <%}) %>
        </aside>
      </div>
    </div>
  </body>
</html>
